<!doctype html>
<html lang="RU">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%# <meta http-equiv="refresh" content="3;url=/" />%>
  <title>Заказ подтвержден</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>

<body>
  <header>
    <%- include ('navigation') %> 
  </header>
  <main>
    <h1 class="text-center">Ваш заказ № <%= order._id %> принят. Ожидайте доставку <%=date%>.</h1><br/>
    <div class="text-center">
      <%#<source srcset="sourceset" type="image/svg+xml">%>
      <h2>К оплате <%=Intl.NumberFormat('ru', { style: 'currency', currency: 'RUB' }).format(orderSumm)%></h2><br/>
      Можно оплатить через СБП немедленно: <img src='<%=`${URL}`%>' class="img-fluid " alt="qr code">
    </div>
  </main>
  <footer>
    <!-- footer here -->
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>
</body>

</html>